{% extends 'hod_base.html' %}
{% load static %}

{% block content %}
<style>
  .datatable tbody tr:nth-child(even){
    background-color: #f5f5f5;
}
@media(max-width: 746px){
    .datatable thead{
        display: none;
    }

    .datatable, .datatable tbody, .datatable tr, .datatable td{
        display: block;
        width: 100%;
    }

    .datatable tr{
        margin-bottom:15px;
        padding-left: 50%;
        text-align: left;
    }

    .datatable td{
        text-align: relative;
        padding-left: 50%;
        text-align: relative;
    }

    .datatable td::before{
        content: attr(data-label);
        position: absolute;
        left:0;
        width: 50%;
        padding-left: 30px;
        font-size:15px;
        font-weight: bold;
        text-align: left;
    }
    

  /*
  Label the data
  You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
  */
  td:nth-of-type(1):before { content: "SI NO"; }
  td:nth-of-type(2):before { content: "SUBJECT CODE"; }
  td:nth-of-type(3):before { content: "SUBJECT NAME"; }
  td:nth-of-type(4):before { content: "SUBJECT CREDIT"; }
  td:nth-of-type(5):before { content: "SCHEME"; }
  td:nth-of-type(6):before { content: "FACULTY"; }
  td:nth-of-type(7):before { content: "CLASS"; }

  
}
</style>
<main id="main" class="main">

    <!--<div class="pagetitle">
      <h1>Alerts</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="hod_index.html">Home</a></li>
          <li class="breadcrumb-item">Components</li>
          <li class="breadcrumb-item active">Alerts</li>
        </ol>
      </nav>
    </div> End Page Title -->

    

            <br/>

	<div class="row">
      <!-- left column
      <div class="col-md-3">
        <div class="text-center">
          <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
          <h6>Upload a different photo...</h6>

          <input type="file" class="form-control">
        </div>
        -->
      

      <div class="col-lg-6">
      <!-- edit form column -->
     <div class="card">

      <div class="card-body">
          <br/>
       <h2 class="card-title-size">Assign Subject</h2>
          <br>








        <form method="post" class="row g-3 needs-validation" >
             {% csrf_token %}


            {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">

                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
            {% endfor %}

            <div class="col-12">
              <label for="yourName" class="form-label">Class</label>
              <select name="batch_id" class="form-select  " readonly="true" required>
                <option value="0">Select Class</option>

                {% for i in batch_class %}
                  {% for j in scheme_data %}
                    {% if i.scheme == j.id %}
                
                      <option value= {{ i.id }} >Class :  {{ i.class_name  }}  -   Date of Join : {{i.date_of_join}}    -   Sem : {{i.semester}} scheme : {{j.scheme}}</option>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              </select>
            </div>

            <div class="col-12">
              <label for="yourName" class="form-label">Subject</label>
              <select name="subject_id" class="form-select  " readonly="true" required>
                <option value="0">Select Subject</option>

                {% for i in subject_data %}
                    {% for j in scheme_data %}
                      {% if i.scheme == j.id %}
                        <option value= {{ i.id }}> {{ i.code  }}  -{{i.subject_name}} -{{j.scheme}}</option>

                 
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              </select>
            </div>

            <div class="col-12">
              <label for="yourName" class="form-label">Semester</label>
              <select name="semester" class="form-select" readonly="true" required >
                  <option value="0">Select semester</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>

              </select>
            </div>

                    <div class="col-12">
                      <label for="yourName" class="form-label">Faculty</label>
                      <select name="faculty_id" class="form-select" readonly="true" required >
                          <option value="0">Select Faculty</option>
                          {% for i in faculty  %}
                          <option value={{ i.id }}>{{i.First_name}} {{i.Last_name}}</option>
                          {% endfor %}
                      </select> 
                  </div>


                    <div class="col-12">
                      
                      
                    </div>
                    <div class="col-15" style="display: inline-block">
                      <button class="btn btn-primary w-20" type="submit">Create</button>&nbsp;<button class="btn btn-primary w-30" type="reset">Cancel</button>

                    </div>
            <!--
                    <div class="col-12">
                      <p class="small mb-0">Don't have account? <a href="pages-register.html">Create an account</a></p>
                    </div>

                    -->
        </form>
        

      </div>
  </div>
</div>

<div class="col-lg-6">
  <div class="card">
    <div class="card-body">
  <table class='datatable'>
     <br>
     <br>
    <thead >
      <tr>
        <th >SI NO</th>
        <th>SUBJECT CODE</th>
        <th>SUBJECT NAME</th>
        <th>SUBJECT CREDIT</th>
        <th>SCHEME</th>
        <th>FACULTY</th>
        <th>CLASS</th>
        <!--<th colspan="2"></th>-->
        

      </tr>
    </thead>
    <tbody>
      {% for i in view_subject %}
      
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.code }}</td>
        <td>{{ i.subject_name }}</td>
        <td>{{ i.credit }}</td>
        <td>
          
          {% for j in scheme_data  %}
            
            {% if i.scheme == j.id %}
                {{ j.scheme }}
              
            {% endif %}
              
            
          {% endfor %}
            
          

        </td>
        <td>
        {% for s in assign_subject_data %}
        
          {% if i.id == s.subject_id %}
            {% for staff in staff_data %}
              {% if staff.id == s.staff_id %}

                {{staff.First_name}} {{staff.Last_name}}

              {% endif %}
              
            {% endfor %}
          {% endif %}
        
        {% endfor %}
      </td>

      <td>
        {% for s in assign_subject_data %}
        
          {% if i.id == s.subject_id %}
            {% for batch in batch_data %}

              {% if s.batch_id == batch.id %}
              S{{batch.semester}} {{batch.class_name}} 

              {% endif %}
            {% endfor %}
          {% endif %}
        
        {% endfor %}
      </td>
        


        <!--
          <td><a href="{% url 'edit_subject' subject_id=i.id %}"><button type="button" class="btn btn-outline-success btn-sm"><i class="bi bi-pencil-square"></i> Edit</button></a> </td>
        <td><a href="{% url 'delete_subject' subject_id=i.id %}" onclick="return confirm('Are you sure you want to delete this?')"><button type="button" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash"></i> Delete</button></a> </td>
      -->
      </tr>
      
      {% endfor %}
    </tbody>
  </table>
   </div>



 </div>
</div>

<div>
    <br>
    <br>
    <br>
    <br/>
    


</div>


  </main>

{% endblock %}

