{% extends 'hod_base.html' %}
{% load static %}



{% block content %}
<style>
  .table tbody tr:nth-child(even){
    background-color: #f5f5f5;
}
@media(max-width: 746px){
    .table thead{
        display: none;
    }

    .table, .table tbody, .table tr, .table td{
        display: block;
        width: 100%;
    }

    .table tr{
        margin-bottom:15px;
        padding-left: 50%;
        text-align: left;
    }

    .table td{
        text-align: relative;
        padding-left: 50%;
        text-align: relative;
    }

    .table td::before{
        content: attr(data-label);
        position: absolute;
        left:0;
        width: 75%;
        padding-left: 40px;
        font-size:15px;
        font-weight: bold;
        text-align: left;
    }
    

  /*
  Label the data
  You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
  */
  td:nth-of-type(1):before { content: "ROL NO"; }
  td:nth-of-type(2):before { content: "NAME"; }
  td:nth-of-type(3):before { content: "ASSIGNMENT 1"; }
  td:nth-of-type(4):before { content: "ASSIGNMENT 2"; }
  td:nth-of-type(5):before { content: "INTERNAL 1"; }
  td:nth-of-type(6):before { content: "INTERNAL 2"; }
  
 
  
}

</style>

<main id="main" class="main">
<div class="col-lg-6">
    <div class="container">
      <h2 class="card-title-size">Internal Marks</h2>
      
      {% for j in subject_data %}
      <h6>Subject : {{j.code}} {{j.subject_name}}</h6>
      {% endfor %}

      {% for j in batch_data %}
      <h6>Class : {{j.class_name}}</h6>      
      {% endfor %}

      {% for i in check_subject_exist %}
        <h6>Semester : {{i.semester}}</h6>
      {% endfor %}

      
        <br/>
    </div>
</div>    
<div class="row">
  

  <!-- edit form column -->
 <div class="card">

<div class="card-body">
    <br>
<form method="post" class="row g-3 needs-validation" >
    {% csrf_token %}
    
    <table class="table" >
        <thead>
          <tr>
            
            <th >Roll No</th>
            <th >Name</th>
            <th >Assignment 1</th>
            <th >Assignment 2</th>
            <th >Series 1</th>
            <th >Series 2</th>
            
          </tr>
        </thead>
        <tbody>

            {% for i in student_data %}
            
            <tr>
                
                <td>{{i.roll_no}}</td>
                <td>{{i.first_name}} {{i.last_name}}</td>
                
                <td class="count-me">
                  <div class="col-12">
                    

                            <input type="number"  class="form-control" 
                            {% for j in internal_mark %}
                            {% for k in subject_data %}
                              {% if i.id == j.student_id%}
                                {% if k.id == j.subject_id %}
                                  {% if j.exam_type == 'Assignment 1' %}
                                    value={{j.mark}}  
                                  {% endif %}
                        
                                {% endif %}
                              {% endif %}
                            {% endfor %}
                            {% endfor %}  
                                name="{{i.roll_no}}" min="0" oninput="validity.valid||(value='');" required>
                          
                        
                         
                        
                          
                  </div>
                  
                </td>
                <td class="count-me">
                  <div class="col-12">
                      <input type="number"  class="form-control" 
                      {% for j in internal_mark %}
                      {% for k in subject_data %}
                        {% if i.id == j.student_id%}
                          {% if k.id == j.subject_id %}
                            {% if j.exam_type == 'Assignment 2' %}
                              value={{j.mark}}  
                            {% endif %}
                  
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                      {% endfor %}      
                      name="{{i.roll_no}}" min="0" oninput="validity.valid||(value='');" required>
                    </div>
                </td>

                <td class="count-me">
                  <div class="col-12">
                      <input type="number"  class="form-control"  
                      {% for j in internal_mark %}
                      {% for k in subject_data %}
                        {% if i.id == j.student_id%}
                          {% if k.id == j.subject_id %}
                            {% if j.exam_type == 'Internal 1' %}
                              value={{j.mark}}  
                            {% endif %}
                  
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                      {% endfor %}     name="{{i.roll_no}}" min="0" oninput="validity.valid||(value='');"  required>
                    </div>
                </td>

                <td class="count-me">
                  <div class="col-12">
                      <input type="number"  class="form-control"  
                      {% for j in internal_mark %}
                      {% for k in subject_data %}
                        {% if i.id == j.student_id%}
                          {% if k.id == j.subject_id %}
                            {% if j.exam_type == 'Internal 2' %}
                              value={{j.mark}}  
                            {% endif %}
                  
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                      {% endfor %} name="{{i.roll_no}}" min="0" oninput="validity.valid||(value='');"  required>
                    </div>
                </td>
                
              </tr>
            
            {% endfor %}
          
         
        
        </tbody>
        
      </table>

      <button type="submit" class="btn btn-primary " style="float:right" name="internal" >Submit</button>
      
</form>
</div>
</div>
</div>
{% endblock%}

{% block custom_js %}
    <script>
        var today = new Date();
        var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
        //var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        //var dateTime = date+' '+time;
        document.getElementById("display_date").innerHTML = date;

      function total(){
        var tds = document.getElementById('countit').getElementsByTagName('');
            var sum = 0;
            for(var i = 0; i < tds.length; i ++) {
                if(tds[i].className == 'count-me') {
                    sum += isNaN(tds[i].innerHTML) ? 0 : parseInt(tds[i].innerHTML);
                }
            }
            document.getElementById('total').innerHTML +=  sum ;
      }
    </script>
{% endblock %}