{% extends 'hod_base.html' %}
{% load static %}

{% block content %}
<style>
  .datatable tbody tr:nth-child(even){
    background-color: #f5f5f5;
}
@media(max-width: 746px){
    .datatable thead{
        display: none;
    }

    .datatable, .datatable tbody, .datatable tr, .datatable td{
        display: block;
        width: 100%;
    }

    .datatable tr{
        margin-bottom:15px;
        padding-left: 50%;
        text-align: left;
    }

    .datatable td{
        text-align: relative;
        padding-left: 50%;
        text-align: relative;
    }

    .datatable td::before{
        content: attr(data-label);
        position: absolute;
        left:0;
        width: 50%;
        padding-left: 30px;
        font-size:15px;
        font-weight: bold;
        text-align: left;
    }
    

  /*
  Label the data
  You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
  */
  td:nth-of-type(1):before { content: "SI NO"; }
  td:nth-of-type(2):before { content: "ADMISSION NO"; }
  td:nth-of-type(3):before { content: "NAME"; }
  td:nth-of-type(4):before { content: "PHONE NUMBER"; }
  td:nth-of-type(5):before { content: "E-MAIL"; }
  td:nth-of-type(6):before { content: "VIEW"; }
  td:nth-of-type(7):before { content: "DELETE"; }
 
  
}

</style>
<main id="main" class="main">

   <!--<div class="col-lg-12">
      <div class="pagetitle">
        <a href="{% url 'add_parent' %}"><button class="btn btn-success btn-sm" style="float: right;"><i class="bi bi-person-plus"></i> Add Parent</button></a>
          --> 
        <h1>Feedback</h1>
        <br/>
      </div><!-- End Page Title -->

    </div>
            <br/>


	<div class="row">
  
      

      <!-- edit form column -->
     <div class="card">

      <div class="card-body">
        <br/>
        
        

      </div>
        <form method="post" class="row g-3 needs-validation" >
            {% csrf_token %}


           {% for message in messages %}
                   <div class="alert alert-success alert-dismissible fade show" role="alert">

                       {{ message }}
                       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                   </div>
           {% endfor %}

           <div class="col-12">
                     <!--<label for="yourName" class="form-label">Select Batch</label>-->
                     <select name="batch_select" class="form-select" readonly="true" required >
                       <option value="0">Select Batch</option>
                       
                         <!--{% for i in batch_data %}
                           {% for j in scheme_data %}
                             {% if i.scheme == j.id %}
                              {% if i.id == batch_data1.id %}
                                  <option value="{{ i.id }}" selected>Class :  {{ i.class_name  }}  -   Date of Join : {{i.date_of_join}}    -   Sem : {{i.semester}}  - Scheme : {{j.scheme}} </option>
                              {% else %}
                                  <option value="{{ i.id }}">Class :  {{ i.class_name  }}  -   Date of Join : {{i.date_of_join}}    -   Sem : {{i.semester}}  - Scheme : {{j.scheme}} </option>

                              {% endif %}
                             {% endif %}
                           {% endfor %}
                         {% endfor %}-->
                        {%for i in batch_data%}
                            <option value="{{i.id}}" selected>Class: {{i.class_name}}  - Date of Join : {{i.date_of_join}}    -   Sem : {{i.semester}}  - Scheme : {{i.scheme}}</option>
                         {%endfor%}

                     </select>

                   </div>

                   <div class="col-12">
                    <!--<label for="yourName" class="form-label">Select Batch</label>-->
                    <select name="subject_select" class="form-select" readonly="true" required >
                      <option value="0" >Select Subject</option>
                      
                      
                       <!--{% for i in batch %}
                          {% for j in scheme_data %}
                            {% if i.scheme == j.id %}
                             {% if i.id == batch_data1.id %}
                                 <option value="{{ i.id }}" selected>Class :  {{ i.class_name  }}  -   Date of Join : {{i.date_of_join}}    -   Sem : {{i.semester}}  - Scheme : {{j.scheme}} </option>
                             {% else %}
                                 <option value="{{ i.id }}">Class :  {{ i.class_name  }}  -   Date of Join : {{i.date_of_join}}    -   Sem : {{i.semester}}  - Scheme : {{j.scheme}} </option>

                             {% endif %}
                            {% endif %}
                          {% endfor %}
                       {% endfor %}-->
                       <!--{%for i in sub_data1%}
                        {%for j in scheme_data1%}
                          {%if i.scheme == j.scheme%}
                           {%if j.id == batch_data1.scheme%}-->
                            <!--<option value="{{ i.id }}" selected>Code :  {{ i.code  }}  -   Subject: {{i.subject_name}}    -   Sem : {{batch_data1.semester}}  - Class :  {{ batch_data1.class_name  }}  - Scheme : {{j.scheme}} </option>
                            --> <!--{% else %}
                            <option value="{{ i.id }}">Code :  {{ i.code }}  -   subject: {{i.subject_name}}    -   Sem : {{batch_data1.semester}}  - Class :  {{ batch_data1.class_name  }} - Scheme : {{j.scheme}} </option>
                           <{%endif%}-->
                          <!--{%endif%}
                        {%endfor%}
                       {%endfor%}-->
                       
                      

                    {%for k in sub_data%}
                        <option value="{{ k.id }}" selected>Subject :  {{ k.subject_name }} {{sdddd}} <!-- Date of Join : {{i.date_of_join}}    -   Sem : {{i.semester}}  - Scheme : {{j.scheme}}--></option>
                      {%endfor%}
                      </select>
                  </div>

                 
<!--                    <div class="col-12">
                     <label for="yourName" class="form-label">Batch</label>
                     <select name="batch_year" class="form-control" readonly="true" required >
                     <option value="0">Select Batch</option>
                       {% for i in batch_year %}
                         <option value="{{ i.date_of_join }}">{{i.date_of_join}}</option>

                       {% endfor %}

                   </div>
-->

                  <div class="col-12">
                    <div class="col-15" style="display: inline-block">
                      <button class="btn btn-primary w-20" type="submit">Submit</button>&nbsp;<button class="btn btn-primary w-30" type="reset">Cancel</button>
                    </div>
                  </div>
                      
                    
           <!--     </div>
                   <div class="col-12">
                     <p class="small mb-0">Don't have account? <a href="pages-register.html">Create an account</a></p>
                   </div>

                   -->
        </form>
         
       <br/>
      <table class='datatable'>
         <br>
        <thead >
          <tr>
            <th >SI NO</th>
            <th>STUDENT NAME</th>
            <th>FEEDBACK</th>
          </tr>
        </thead>
        <tbody>
        {% for i in feedback_list%}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.student_name}}</td>
                <td>{{ i.feedback_text }} </td>
              </tr>
        {% endfor %}
        </tbody>
      </table>
      
              <br>
            </div>     
      </div>

    </div>
  </div>
    
   
</main>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/><br/><br/>




  {% endblock %}

