{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>HOD</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/logo.png' %}" rel="icon">
  <link href="{% static 'assets/img/logo.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.snow.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <!-- =======================================================
  * Template Name: NiceAdmin - v2.2.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'hod_index' %}" class="logo d-flex align-items-center">
        <!--<img src="{% static 'assets/img/logo.png' %}" alt="">-->
        <span class="d-none d-lg-block"><STRONG><H6>DEPARTMENT OF COMPUTER SCIENCE AND ENGINEERING</H6></STRONG>    </span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <!--
      <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

       <!--
          <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li>
       --><!-- End Search Icon-->

       

        <li class="nav-item dropdown">

          

          

        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{{ data_for_self_profile.Profile_photo.url }}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ context.name }}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ context.name }}</h6>
              <span>HOD</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
            
              <a class="dropdown-item d-flex align-items-center" href="{% url 'faculty_profile' f_id=data_for_self_profile.Faculty_unique_id %}">
               
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

           
            <li>
              <hr class="dropdown-divider">
            </li>

            
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'log_out' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->



  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'hod_index' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-people"></i><span>Manage Faculties</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'add_staff' %}" >
              <i class="bi bi-circle" class="active"></i><span>Add Faculty</span>
            </a>
          </li>
          <li>
            <a href="{% url 'view_faculty' %}">
              <i class="bi bi-circle"></i><span>View faculties</span>
            </a>
          </li>
            
        </ul>
      </li><!-- End Add faculty -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-gem"></i><span>Manage Scheme</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'create_scheme' %}">
              <i class="bi bi-circle"></i><span>Create Scheme</span>
            </a>
          </li>
          <li>
            <a href="{% url 'view_scheme' %}">
              <i class="bi bi-circle"></i><span>View Scheme</span>
            </a>
          </li>
        
          
        </ul>
      </li><!--Add scheme-->


      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Manage Batch</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'create_batch' %}">
              <i class="bi bi-circle"></i><span>Create Batch</span>
            </a>
          </li>
          
          <li>
            <a href="{% url 'view_batch' %}">
              <i class="bi bi-circle"></i><span>View Batch</span>
            </a>
          </li>
        </ul>
      </li> <!-- Manage batch -->


      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-mortarboard"></i><span>Manage students</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'add_student' %}">
              <i class="bi bi-circle"></i><span>Add student</span>
            </a>
          </li>
          <li>
            <a href="{% url 'view_student' %}">
              <i class="bi bi-circle"></i><span>View students</span>
            </a>
          </li>
            
        </ul>
      </li> <!-- Manage students -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#manage-subject" data-bs-toggle="collapse" href="#">
          <i class="bi bi-card-list"></i><span>Manage Subject</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="manage-subject" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'create_subject' %}">
              <i class="bi bi-circle"></i><span>Create Subject</span>
            </a>
          </li>
          
          <li>
            <a href="{% url 'view_subject' %}">
              <i class="bi bi-circle"></i><span>View Subjects</span>
            </a>
          </li>

          <li>
            <a href="{% url 'assign_subject_to_staff' %}">
              <i class="bi bi-circle"></i><span>Assign Subjects</span>
            </a>
          </li>
        </ul>
      </li> <!-- Manage batch -->

        <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#my_subject" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>My Subjects</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="my_subject" class="nav-content collapse " data-bs-parent="#sidebar-nav">

          <li>
            <a href="{% url 'hod_view_my_subject' %}">
              <i class="bi bi-circle"></i><span>View Subjects</span>
            </a>
          </li>
        </ul>
      </li> <!-- Manage batch -->

      

      

        
     

     <!-- <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="users-profile.html">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li> End Profile Page Nav -->
<!--
      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-faq.html">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li>--><!-- End F.A.Q Page Nav -->
<!--
      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-contact.html">
          <i class="bi bi-envelope"></i>
          <span>Contact</span>
        </a>
      </li>--><!-- End Contact Page Nav -->

   <!--   <li class="nav-item">
        <a class="nav-link collapsed" href="pages-register.html">
          <i class="bi bi-card-list"></i>
          <span>Register</span>
        </a>
      </li>--><!-- End Register Page Nav -->

   <!--   <li class="nav-item">
        <a class="nav-link collapsed" href="pages-login.html">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Login</span>
        </a>
      </li>--><!-- End Login Page Nav -->

     <!-- <li class="nav-item">
        <a class="nav-link collapsed" href="pages-error-404.html">
          <i class="bi bi-dash-circle"></i>
          <span>Error 404</span>
        </a>
      </li>--><!-- End Error 404 Page Nav -->

     <!-- <li class="nav-item">
        <a class="nav-link collapsed" href="pages-blank.html">
          <i class="bi bi-file-earmark"></i>
          <span>Blank</span>
        </a>
      </li>--><!-- End Blank Page Nav 
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Manage Scheme</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'add_student' %}">
              <i class="bi bi-circle"></i><span>Add Scheme</span>
            </a>
          </li>
          <li>
            <a href="{% url 'view_student' %}">
              <i class="bi bi-circle"></i><span>View Schemes</span>
            </a>
          </li>
        </ul>
      </li>--><!-- End Forms Nav -->

    </ul>

  </aside><!-- End Sidebar-->

{% block content %}

{% endblock %}


  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>CSE & IT DEPARTMENT</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      LBS COLLEGE OF ENGINEERING, KASARAGOD
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/chart.js/chart.min.js' %}"></script>
  <script src="{% static 'assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

{% block custom_js %}
{% endblock %}

</body>

</html>
