
{% extends 'parent_base.html' %}
{% load static %}

{% block content %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Profile</h1>
  </div><!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      <div class="col-xl-6" >
        {% for message in messages %}
  
                    <div class="alert alert-success alert-dismissible fade show" role="alert">

                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    
                    </div>
            
          {% endfor %}
          
        
        <div class="card">
          <div class="card-body profile-card pt-3 d-flex flex-column align-items-center ">

            <img src="{% static 'assets/img/profile-img.jpg' %}" alt="Profile" class="rounded-circle">
            <h2>{{context.name}}</h2>
         
         
          </div>
          
          
        </div>

      </div>

      <div class="col-xl-12">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
              </li>


              <li class="nav-item">
				<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
              </li>
              
            </ul>
            <div class="tab-content pt-2">
              <div class="tab-pane fade show active profile-overview" id="profile-overview">
              
                <h5 class="card-title">Contact Details</h5>
                <div class="accordion" id="accordionExample">
                  

                <div class="accordion-item">
                  <div class="row">

                                <div class="col-lg-6">
                                  <div>
                                    <i class="bi bi-telephone"></i>
                                    Mobile
									<br>
									<br>
                                    <p>+91 {{parent_data.phone_no}}</p>
                                  </div>
                                </div>
                                <div class="col-lg-6">
                                  <div>
                                    <i class="bi bi-envelope"></i>
                                    Email
									<br>
									<br>
                                    <p>{{parent_data.email}}</p>
                                  </div>
                                </div>
                                
                              </div>
                </div>

                </div>
                
              </div>
              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                <!-- Profile Edit Form -->
                <form method="post" action="">
                {% csrf_token %}

                  <div class="row mb-3">
                    <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                    <div class="col-md-8 col-lg-9">
                      <img src="assets/img/profile-img.jpg" alt="Profile">
                      <div class="pt-2">
                        <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                        <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label" >First Name</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="first_name" type="text" class="form-control" id="fullName" value="{{ parent_data.first_name }}" required>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label" >Last Name</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="last_name" type="text" class="form-control" id="fullName" value="{{ parent_data.last_name }}" >
                    </div>
                  </div>



                <div class="row mb-3">
                    <label for="Country" class="col-md-4 col-lg-3 col-form-label">Phone No</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="phone_no" type="number" class="form-control" id="Country" value="{{ parent_data.phone_no }}" required>
                    </div>
                  </div>

                <div class="row mb-3">
                    <label for="Country" class="col-md-4 col-lg-3 col-form-label">Email id</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="email" type="email" class="form-control"  value="{{ parent_data.email }}" required>
                    </div>
                  </div>

                  
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary" name="edit_profile" >Save Changes</button>
                  </div>
                </form><!-- End Profile Edit Form -->

              </div>
              <div class="tab-pane fade pt-3" id="profile-change-password">
                <!-- Change Password Form -->
                <form method="post">
                  {% csrf_token %}

                  <div class="row mb-3">
                    <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="current_password" type="password" class="form-control" id="currentPassword">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="new_password" type="password" class="form-control" id="newPassword" required>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="renew_password" type="password" class="form-control" id="renewPassword" required> 
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary" name="change_password" >Change Password</button>
                  </div>
                </form><!-- End Change Password Form -->

              </div>
            
                        
            
                
              </div>

            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->
<script>
  $(document).ready( function () {
    $('table').dataTable({searching: false, paging: false, info: false});
  })
</script>
{% endblock %}
